<div class="profil-setup">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profil utilisateur</mat-card-title>
    </mat-card-header>
    <form class="update-user-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </mat-card-content>
      <button class="profil-setup-submit" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
  </mat-card>
  <button class="profil-setup-logout" mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>

