<div class="app">
    @if ($isLogged() | async) {
      <mat-toolbar class="header-mdd "color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <img
          priority
          routerLink="/"
          ngSrc="assets/logo_mdd.svg"
          alt="logo"
          class="home-logo link"
          height="81" width="140"/>
        <div class="header-links">
        <span routerLink="post" class="link">Articles</span>
        <span routerLink="topic" class="link">Thèmes</span>
        <span class="profile-icon-container link" routerLink="me">
          <img class="profile-icon" ngSrc="assets/icon_user.svg"  alt="profile" height="30" width="27"/>
        </span>
      </div>
      </mat-toolbar>
    }
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
