<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>MDD app</span>
    @if ($isLogged() | async) {
      <div >
        <span routerLink="me" class="link">Account</span>
        <span routerLink="post" class="link">Articles</span>
        <span routerLink="topic" class="link">Thèmes</span>
        <span (click)="logout()" class="link">Logout</span>
      </div>
    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
