<div class="create-post-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Créer un nouvel article</mat-card-title>
    </mat-card-header>
    <form class="create-post-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <mat-select placeholder="Sélectionner un thème" formControlName="topic">
            <mat-option *ngFor="let topic of topics" [value]="topic.name">{{ topic.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Titre de l’article"
                 formControlName="title">
        </mat-form-field>
        <mat-form-field fxFlex>
          <textarea matInput placeholder="Contenu de l’article"
                 formControlName="content">
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
  </mat-card>
</div>
