@if (post)
{
<div class="post-container" >
  <h2>{{ post.title }}</h2>
  <div class="post-header">
    <span>{{ post.createdAt | date }} </span>
    <span>{{ post.author.name }}</span>
    <span>{{ post.topic.name }}</span>
  </div>
  <div class="post-content">
    <p>{{ post.content }}</p>
  </div>
</div>
}
<hr>
@if (comments.length > 0)
{
<div class="comments-container">
  <h3>Commentaires</h3>
  <div class="comment" *ngFor="let comment of comments">
    <p class="comment-author">{{ comment.user.name }}</p>
    <p class="comment-content">{{ comment.content }}</p>
  </div>
</div>
}
<hr>
<div class="comment-form">
  <mat-card-content>
  <form [formGroup]="form" (ngSubmit)="submitComment()">
    <mat-form-field>
    <textarea formControlName="content" matInput name="comment" placeholder="Write a comment"></textarea>
    </mat-form-field>
    <button class="send-comment" mat-raised-button type="submit" [disabled]="form.invalid">
      <img  ngSrc="assets/send.svg" alt="send" height="20" width="20"/>
    </button>
  </form>
  </mat-card-content>
</div>


